<table *ngIf="dataForTable.length > 0" class="table table-primary table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Country</th>
            <th>Total cases</th>
            <th>Total deaths</th>
            <th>Total recovered</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of dataForTable | slice:2:12">
            <td>{{row.country}}</td>
            <td>{{row.totalCases}}</td>
            <td>{{row.totalDeaths}}</td>
            <td>{{row.totalRecovered}}</td>
        </tr>
    </tbody>
</table>
