
<div class="upload-file  bg-light">
  <app-upload-file (dataToParent)="setDataToParent($event)"></app-upload-file>
</div>
<div class="plots-container">
  <div class="fila">
      <div class="columna">
          <app-table [dataForTable]="globalData"></app-table>
      </div>
      <div class="columna">
          <app-plot-geograph [dataForGeo]="globalData"></app-plot-geograph>
      </div>
  </div>
  <div class="fila">
      <div class="columna">
          <app-plot-columns [dataForColumns]="globalData"></app-plot-columns>
      </div>
      <div class="columna">
          <app-plot-circular [dataForCircular]="globalData"></app-plot-circular>
      </div>
  </div>
</div>


