.fila{
    width: 100%;
    display: inline-flex;
}

.columna{
    width: 50%;
}
.upload-file {
    height: 100px;
    
    
}



@media (min-width: 768px) {
    .columna {
        width: 50%;
    }
}
